  <div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <ul class="nav nav-tabs">
      <h1>Tweet</h1>
      <div class="search_form">
        <%= render 'shared/microposts_search_form' %>
      </div>
    </ul>
        <%= render 'shared/feed' %>
  </div>
  <script>bubbly({
  blur:200,
  colorStart: '#BAD3FF',
  colorStop: '#D9E5FF',
  radiusFunc:() => 5 + Math.random() * 75,
  angleFunc:() => -Math.PI / 2,
  velocityFunc:() => Math.random() * 2,
  bubbleFunc:() => `hsla(${200 + Math.random() * 50}, 100%, 65%, .1)`,
  bubbles:150
});</script>
</div>
