<% if logged_in? %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h1>Direct Message</h1>
    <%= render 'shared/talks' %>
  </div>
    <%= javascript_include_tag 'bubbly.js' %>
<script>bubbly({
  blur:200,
  colorStart: '#BAD3FF',
  colorStop: '#D9E5FF',
  radiusFunc:() => 5 + Math.random() * 75,
  angleFunc:() => -Math.PI / 2,
  velocityFunc:() => Math.random() * 2,
  bubbleFunc:() => `hsla(${200 + Math.random() * 50}, 100%, 65%, .1)`,
  bubbles:150
});</script>
</div>

<% else %>
  <%= render 'static_pages/not_logged_in_home' %>
<% end %>
